body {
    font-family: 'Courier New', Courier, monospace;
    background-color:#E7FF9E;
    text-align: center;
}
.indexheader,
.topheader  {
    text-align: center;
}
.homeul {
    text-align: center;
}
.homeul ul li {
    display: inline;
    padding: 18px;
}#guacpic   {
    width: 500px;
    height: auto;
}
.guacul {
    text-align: center;
}
.guacul ul li {
    display: block;
}
.guacol {
    text-align: center;
}
.guacol ol li {
    display:block;
    padding: 10;
}
.guac {
    border: 0px solid red;
    width: 1000px;
    height: auto;
    margin: auto;
}
.hmchili {
    border: 0px solid red;
    width: 1000px;
    height: auto;
    margin: auto;
}
.bcdip {
    border: 0px solid red;
    width: 1000px;
    height: auto;
    margin: auto;
}
.chiliul {
    text-align: center;
}
.chiliul ul li {
    display: block;
}
.chiliol {
    text-align: center;
}
.chiliol ol li {
    display: block;
    padding: 10;
}
.dipul {
    text-align: center;
}
.dipul ul li {
    display: block;
}
.dipol {
    text-align: center;
}
.dipol ol li {
    display: block;
    padding: 10;
}